.itemColor {
  display: flex;
  align-items: center;
}

.itemColor select {
  padding: 4px 8px;
  border: var(--color-bg-gray) 2px solid;
  border-radius: 2px;
  font-size: 14px;
  font-family: var(--font-base);
  width: 100%;
}
